InvokeWCFTest/Connected Services/ServiceReference1/com.eLong.TemplateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="com.eLong.TemplateService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="com.eLong.TemplateService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="com.eLong.TemplateService/Imports">
      <xsd:import schemaLocation="" namespace="com.eLong.TemplateService" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/com.eLong.Template.Model" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITemplateWebservice_GetTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplate" />
  </wsdl:message>
  <wsdl:message name="ITemplateWebservice_GetTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateWebservice_GetTemplateInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateInfo" />
  </wsdl:message>
  <wsdl:message name="ITemplateWebservice_GetTemplateInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateWebservice_GetTemplateList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateList" />
  </wsdl:message>
  <wsdl:message name="ITemplateWebservice_GetTemplateList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateListResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateWebservice_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="ITemplateWebservice_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="ITemplateWebservice">
    <wsdl:operation name="GetTemplate">
      <wsdl:input wsaw:Action="com.eLong.TemplateService/ITemplateWebservice/GetTemplate" message="tns:ITemplateWebservice_GetTemplate_InputMessage" />
      <wsdl:output wsaw:Action="com.eLong.TemplateService/ITemplateWebservice/GetTemplateResponse" message="tns:ITemplateWebservice_GetTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplateInfo">
      <wsdl:input wsaw:Action="com.eLong.TemplateService/ITemplateWebservice/GetTemplateInfo" message="tns:ITemplateWebservice_GetTemplateInfo_InputMessage" />
      <wsdl:output wsaw:Action="com.eLong.TemplateService/ITemplateWebservice/GetTemplateInfoResponse" message="tns:ITemplateWebservice_GetTemplateInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplateList">
      <wsdl:input wsaw:Action="com.eLong.TemplateService/ITemplateWebservice/GetTemplateList" message="tns:ITemplateWebservice_GetTemplateList_InputMessage" />
      <wsdl:output wsaw:Action="com.eLong.TemplateService/ITemplateWebservice/GetTemplateListResponse" message="tns:ITemplateWebservice_GetTemplateList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="com.eLong.TemplateService/ITemplateWebservice/Ping" message="tns:ITemplateWebservice_Ping_InputMessage" />
      <wsdl:output wsaw:Action="com.eLong.TemplateService/ITemplateWebservice/PingResponse" message="tns:ITemplateWebservice_Ping_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>